@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");

.gold-chisel-text,
.medieval-text-style p {
  /* ১. পারফেক্ট ব্রাউন কালার */
  color: #af7f36 !important;
  font-family: "Rowdies", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;

  /* ২. ৩ডি ডেপথ এবং ব্ল্যাক ফেইড শ্যাডো (Advanced Multi-Layer) */
  /* এখানে প্রথম ৪টি লেয়ার শার্প বর্ডার দেয়, পরেরগুলো ৩ডি লুক এবং শেষটি ফেইড শ্যাডো দেয় */
  text-shadow:
    1px 1px 0px #000,
    2px 2px 0px #83461a00,
    3px 3px 0px #000,
    4px 4px 8px rgba(0, 0, 0, 0.9),
    0px 0px 15px rgba(0, 0, 0, 0.5);

  /* ৩. ফিল্টার ব্যবহার করে শ্যাডোটিকে আরও স্মুথ ও রিয়েলিস্টিক করা */
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}

/* শুধুমাত্র হেডিংয়ের জন্য ৯০০ ওয়েট */
h2.gold-chisel-text {
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  text-shadow:
    -3 2px 10px rgb(0 0 0),
    0 4px 6px rgba(0, 0, 0, 0.8),
    0 6px 9px rgba(0, 0, 0, 0.7);
}

/* প্যারাগ্রাফের জন্য স্টাইল */
.medieval-text-style p {
  font-weight: 700;
  text-transform: none;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* another css */

.sectionHeading {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 700;
  text-transform: normal;
  margin-bottom: 50px;
  font-family: "font1", serif;
  letter-spacing: -3px;
  background: url(./images/teaxture.png) repeat;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 193, 113);
  filter: drop-shadow(0px 0px 12px #2e1b00);
  -webkit-text-stroke: 1px #3f2500;
  text-stroke: 2px #422700;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px -2px black,
    2px -2px 15px black,
    -2px 2px 15px black;
  z-index: 9;
}

/* peragraph */

.paragraph {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
  text-transform: normal;
  line-height: 1.1;
  font-family: "font1", serif;
  letter-spacing: -0.5px;
  background: url(./images/teaxture.png) repeat;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 193, 113);
  filter: drop-shadow(0px 0px 12px #2e1b00);
  -webkit-text-stroke: 1px #3f2500;
  text-stroke: 2px #422700;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px -2px black,
    2px -2px 15px black,
    -2px 2px 15px black;
  z-index: 9;
}
