@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");

/* another css */

.sectionHeading {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 700;
  text-transform: normal;
  margin-bottom: 50px;
  font-family: "font1", serif;
  letter-spacing: -3px;
  background: url(./images/teaxture.png) repeat;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 193, 113);
  filter: drop-shadow(0px 0px 12px #2e1b00);
  -webkit-text-stroke: 1px #3f2500;
  text-stroke: 2px #422700;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px -2px black,
    2px -2px 15px black,
    -2px 2px 15px black;
  z-index: 9;
}

/* peragraph */

.paragraph {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
  text-transform: normal;
  line-height: 1.1;
  font-family: "font1", serif;
  letter-spacing: -0.5px;
  background: url(./images/teaxture.png) repeat;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255, 193, 113);
  filter: drop-shadow(0px 0px 12px #2e1b00);
  -webkit-text-stroke: 1px #3f2500;
  text-stroke: 2px #422700;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    2px 2px black,
    -2px -2px black,
    2px -2px 15px black,
    -2px 2px 15px black;
  z-index: 9;
}
